
# Set this variable and uncomment. See README.md
# SMARTTHINGS_CLI_TOKEN=

# Add devices here; keys are free text no spaces; values are first BT mac address and second SmartThings uuid separated by space
# devices["my_first_device"]="15:51:8E:BB:69:6D 2b3a8d42-7799-11ea-bc55-0242ac130003"
# devices["my_second_device"]="F8:87:F1:12:DA:12 2b3a8d42-7799-11ea-bc55-0242ac130003"
